<nav class="navbar navbar-expand-lg color" >
  <div class="container-fluid">
    <img src="assets/images/logo.png" alt="">
    <a class="navbar-brand" href="#">Film Insight Plus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto"> <!-- Cambiado a ml-auto para alinear a la derecha -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list/movie">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list/tv">Tv Shows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="genres">Genres</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
