.genres-links a {
  padding: 3px;
  background-color: cyan;
  margin-right: 10px;
 margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none; /* Para quitar el subrayado */
  color: black; /* Para cambiar el color del texto a negro */
  display: inline-block;
}
